---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="about">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">About me</div>
  </div>
</BaseLayout>
