---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Software Architect and Technical Lead at ZORGI"
      subtitle="From June 2022 - Present"
    >
    <b>Software Architect</b> and <b>Technical Lead</b> in a relatively small team of 5 developers. Building mobile apps for hospitals, nurses and doctors. <b>React Native</b>, <b>Spring Boot</b> and <b>MariaDB</b> as the technology stack.
    </TimeLineElement>
    <TimeLineElement
      title="Software Engineer at ZORGI"
      subtitle="From November 2021 - June 2022"
    >
    </TimeLineElement>
    <TimeLineElement
      title="Implementation Engineer and Java Developer at Mobitrace"
      subtitle="From September 2020 - October 2021"
    >
    </TimeLineElement>
    <TimeLineElement
      title="SAP Commerce Consultant at Elision"
      subtitle="From September 2017 - September 2020"
    >
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Professional Bachelor, Applied Informatics - Application Development"
      subtitle="2014 to 2017 at Hogeschool PXL, Hasselt, Belgium"
    />
    <TimeLineElement
      title="Foundation degree, Sciences - Math"
      subtitle="2013 to 2014 at VIIO, Tongeren, Belgium"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.youracclaim.com/badges/8903c08d-2bfb-4b7c-986e-974e4c411a50" target="_blank"> Oracle Certified Associate Java SE8 Programmer</a>
    </li>
    <li>
      <a href="https://www.youracclaim.com/badges/5c0b9604-aaa6-4af4-b9d9-bf443356faa0" target="_blank"> Oracle Certified Professional Java SE8 Programmer</a>
    </li>
    <li>
      <a href="https://badgecert.com/bc/rest/web/utility/pdf/995732/Certificate" target="_blank"> Spring v4.3 Professional</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Java</li>
    <li>Spring Boot</li>
    <li>Hibernate</li>
    <li>SQL</li>
    <li>Docker</li>
    <li>HL7 - FHIR</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>Python</li>
    <li>Go</li>
    <li>Astro</li>
  </ul>
</BaseLayout>
