---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">My name is Brian Poncelet</div>
    <div class="py-2">
      <text class="text-lg">
        I'm a <b>Backend Architect, Developer</b> and <b>Technical Lead</b> based near Tongeren, Limburg, Belgium. <br>
        <b>Java</b> in combination with <b>Spring Boot</b> is my jam. Currently dipping my toes into people management. <br><br>
        I'm passionate about designing and creating <b>Secure</b>, <b>Reliable</b> and <b>Performant</b> backend webapps, be it monoliths or microservices.
        <b>Docker</b> is awesome too.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://www.linkedin.com/in/brian-poncelet/" target="_blank"> Let's connect!</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My latest projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Portfolio"
    img="/portfolio.png"
    desc="Personal portfolio (you're looking at it)"
    url="https://brianponcelet.netlify.app"
    badges={Array.of("Maintaining")}
    tags={Array.of("Typescript", "JavaScript", "Astro", "GitHub Actions", "Netlify")}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Nurseflow"
    img="/nurseflow.png"
    desc="B2B App for hospitals to help nurses with medication, sampling, blood transfusion, vital signs and more"
    url="https://play.google.com/store/apps/details?id=eu.mobitrace.nurseflow"
    badges={Array.of("Re-architecturing for Cloud")}
    tags={Array.of("Java 21", "Spring Boot 3", "MariaDB", "Docker")}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="ZORGI Logistics"
    img="/logistics.png"
    desc="B2B App for hospitals to help with inventory scanning"
    url="https://play.google.com/store/apps/details?id=be.zorgi.mobile.logistics"
    tags={Array.of("Java 17", "Spring Boot 3", "Docker", "Azure", "Azure Table Storage")}
    badges={Array.of("Development & Bugfixing")}
  />

  <div>
    <div class="text-3xl w-full font-bold mb-2 mt-10">A grasp of my favourite technologies and tools {"</>"}</div>
  </div>

  <div class="pb-12 mt-5">
    <div class="-m-1 flex flex-wrap md:-m-2">
      <div class="flex w-1/4 flex-wrap">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-contain object-center"
            src="/java.png" />
        </div>
      </div>
      <div class="flex w-1/4 flex-wrap">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-contain object-center"
            src="/spring.png" />
        </div>
      </div>
      <div class="flex w-1/4 flex-wrap">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-contain object-center"
            src="/spring-cloud.png" />
        </div>
      </div>
      <div class="flex w-1/4 flex-wrap">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-contain object-center"
            src="/hibernate.png" />
        </div>
      </div>
      <div class="flex w-1/4 flex-wrap">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-contain object-center"
            src="/mariadb.png" />
        </div>
      </div>
      <div class="flex w-1/4 flex-wrap">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-contain object-center"
            src="/docker.png" />
        </div>
      </div>
      <div class="flex w-1/4 flex-wrap">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-contain object-center"
            src="/terraform.png" />
        </div>
      </div>
      <div class="flex w-1/4 flex-wrap">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-contain object-center"
            src="/git.png" />
        </div>
      </div>
    </div>
  </div>

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>
