---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Personal projects</div>
  </div>

  <HorizontalCard
    title="Company Website"
    img="/website.png"
    desc="My freelance company's website"
    url="https://shift-r.be"
    badges={Array.of("Maintaining")}
    tags={Array.of("Typescript", "JavaScript", "Astro", "GitHub Actions", "Netlify")}
  />

  <HorizontalCard
    title="Portfolio"
    img="/portfolio.png"
    desc="Personal portfolio (you're looking at it)"
    url="https://brianponcelet.be"
    badges={Array.of("Maintaining")}
    tags={Array.of("Typescript", "JavaScript", "Astro", "GitHub Actions", "Netlify")}
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Projects at ZORGI</div>
  </div>

  <HorizontalCard
    title="xFlow"
    img="/nurseflow.png"
    desc="Integration of NurseFlow with Xperthis Care (xCare)"
    url="https://play.google.com/store/apps/details?id=eu.mobitrace.nurseflow"
    badges={Array.of("In development")}
    tags={Array.of("Java 21", "Spring Boot 3", "MariaDB", "Docker")}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Nurseflow"
    img="/nurseflow.png"
    desc="B2B App for hospitals to help nurses with medication, sampling, blood transfusion, vital signs and more. As the old backend is a bit outdated, we're recreating this from scratch in a more modular, sustainable setup."
    url="https://play.google.com/store/apps/details?id=eu.mobitrace.nurseflow"
    badges={Array.of("Re-architecturing for Cloud")}
    tags={Array.of("Java 21", "Spring Boot 3", "MariaDB", "Docker")}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="ZORGI Logistics"
    img="/logistics.png"
    desc="B2B App for hospitals to help with inventory scanning"
    url="https://play.google.com/store/apps/details?id=be.zorgi.mobile.logistics"
    tags={Array.of("Java 17", "Spring Boot 3", "Docker", "Azure", "Azure Table Storage")}
    badges={Array.of("Maintenance & Bugfixing")}
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">E-commerce projects I contributed to</div>
  </div>

<HorizontalCard
    title="Basiq Dental"
    img="/basiq_dental.jpg"
    desc="Implementation of a new B2B webshop for Basiq Dental"
    url="https://www.basiqdental.be"
    tags={Array.of("Java 8", "SAP Commerce", "Azure")}
  />
<HorizontalCard
    title="MCB"
    img="/mcb.jpg"
    desc="Continuous implementation and upgrades for the existing MCB webshop"
    url="https://www.mcb.eu/nl/"
    tags={Array.of("Java 8", "SAP Commerce", "AWS")}
  />
<HorizontalCard
    title="Medicare Market"
    img="/medicare_market.jpg"
    desc="Overhaul and upgrade of an existing PIM system"
    url="https://medi-market.be"
    tags={Array.of("Java 8", "SAP Commerce")}
  />
  <HorizontalCard
    title="Maiburg"
    img="/maiburg.jpg"
    desc="Implementation of a B2B webshop for Maiburg"
    url="https://www.maiburg.nl"
    tags={Array.of("Java 8", "SAP Commerce")}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="NMC"
    img="/nmc.jpg"
    desc="Implementation of a brand new PIM system for NMC"
    url="https://nmc.eu/en/"
    tags={Array.of("Java 8", "SAP Commerce")}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Signify MyLighting"
    img="/signify.jpg"
    desc="DevOps engineer for the existing Signify MyLighting portal"
    url="https://www.signify.com/en-nz/mylighting"
    tags={Array.of("Java 8", "SAP Commerce", "Jenkins")}
  />
</BaseLayout>
